<%%- model_class = <%= resource_name.classify %> -%>

<div class="card rounded-0 shadow mt-5 mb-5">
  <div class="card-header">
    <h4 class="card-heading"><%%=t '.title', :default => model_class.model_name.human.titleize %></h4>
  </div>
  <div class="card-body">
    <%- columns.each do |column| -%>
      <div class="row">
        <div class="col-md-3">
          <h5 class="font-weight-bold"><%%= model_class.human_attribute_name(:<%= column.name %>) %>:</h5>
        </div>
        <div class="col-md-9">
          <h5><%%= @<%= resource_name %>.<%= column.name %> %></h5>
        </div>
      </div>
    <%- end -%>
    <div class="mt-5">
      <%%= link_to t('.back', default: t("helpers.links.back")),
                    <%= controller_routing_path %>_path, class: 'btn btn-outline-primary'  %>
      <%%= link_to t('.edit', default: t("helpers.links.edit")),
                    edit_<%= singular_controller_routing_path %>_path(@<%= resource_name %>), class: 'btn btn-secondary' %>
      <%%= link_to t('.destroy', default: t("helpers.links.destroy")),
                    <%= singular_controller_routing_path %>_path(@<%= resource_name %>),
                    method: 'delete',
                    data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
                    class: 'btn btn-danger' %>
    </div>
  </div>
</div>
